@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,700&display=swap');
*{
font-family: 'Rubik', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --black: #333;
    --green: #017143;
    --white: #fff;
    --white2: #fff;
    --black2: #333;
}
.dark{
    --black: #fff;
    --black2: #113f2c;
    --white: #124e36;
    
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
   padding: 78px;   
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--white);
}
header{
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    position: relative;
    max-width: 75px;
    top: 8px;
    left: 15px;
    margin: 0px 10px;
}

header ul{
    position: relative;
    right: 40px;
    display: flex;
    justify-content: center;
   align-items: center;
   text-decoration: none;}

header ul li{
    display: flex;
   list-style: none;
   text-decoration: none;
   padding: 20px 10px;
}
 
header ul li a{
    display: inline-block;
    color: var(--black);font-size: 1.3rem;
    font-weight: 500;
   text-decoration: none;
   padding: 3px 3px;
}

.content{
    position: relative;
    width: 138%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.content .textbox {
    position: relative;
    top: 30px;
    left: 30px;
    max-width: 714px;
    z-index: 1;
}
.content .textbox h2{
    font-size: 4em;
    color: var(--black);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 40px;
}
.content .textbox h2 span{
    color: var(--green);
    font-size: 1.2em;
}

.content .textbox h3{
    font-size: 1.8rem;
    color: #017143;
    margin-bottom: 1rem;
}


.dark .content .textbox h2 span{
    color: rgb(54, 119, 54);
}
.content .textbox p{
    color: var(--black);
    font-size: 1.2rem;
}
.content .textbox a{
    display: inline-block;
    background-color: #017143;
    color: var(--white2);
    border-radius: 30px;
    margin: 20px 100px;
    padding: 10px 20px;
    text-decoration: none;
}
.content .imgbox{
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .imgbox::before{
    content: '';
    position: absolute;
    width: 420px;
    height: 400px;
    background: var(--green);
    border-radius: 50%;
}
.content .imgbox img{
    position: relative;
    left: 15px;
    max-width: 400px;
    z-index: 1;
}
 
.sci{
    position: absolute;
    bottom: 10px;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin-right: 20px;
    /* padding: 8px; */
    width: 75px;
    height: 75px;
    background: var(--black2);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.sci li a img{
    width: 40%;
}
 .sci li a:hover{
     background: var(--green);
     /* box-shadow: 0 0 0 1200px var(--green); */
 }

 .themeSwitch{
     position: relative;
     width: 50px;
     height: 50px;
     background: var(--black);
     color: var(--white2);
     display: inline-flex;
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }
 .themeSwitch::before{
     content:url(/Project-2/Images/moon.svg);
    font-family: 'Rubik', sans-serif;
 }
 .themeSwitch.active::before{
     content: url(/Project-2/Images/sun.svg);
     font-family: 'Rubik', sans-serif;
     color: var(--black);
 }

 /* now make it responsive */
 @media (max-width:1000px){
     section{
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
     }
     header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    header .logo {
        position: relative;
        max-width: 60px;
        margin: 0px 0px;
    }
        
        header ul li {
            display: flex;
            list-style: none;
            text-decoration: none;
            padding: 5px 1px;
        }
        header ul li a{
            display: inline-block;
             color: var(--black);
             font-weight: 500;
             text-decoration: none;
             padding: 26px 7px;
             font-size: 35px;
        }
        .themeSwitch {
            position: relative;
            width: 70px;
            height: 70px;
            background: var(--black);
            color: var(--white2);
            display: inline-flex;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .content {
            position: relative;
            width: 100%;
            margin: 0px 10px;
            /* padding: 0px 101px 68px 2px; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            flex-direction: column-reverse;
        }
        .content .textbox {
            position: relative;
            max-width: 500px;
            z-index: 1;
        }
        .content .textbox h2 {
            font-size: 2.6em;
            color: var(-black);
            line-height: 1em;
            font-weight: 200;
            margin-bottom: 20px;
        }
        .textbox h3{
            font-size: 1.5rem;
        }
        .content .textbox a {
            display: inline-block;
            background-color: #017143;
            color: var(--white2);
            border-radius: 30px;
            margin: 10px 155px;
            padding: 15px 15px;
            text-decoration: none;
        }
        .content .textbox p{
            font-size: 1.2em;
            margin-bottom: 0;
        }
        .content .imgbox {
            position: relative;
            width: 270px;
            height: 280px;
            /* padding: 18px 15px 233px 25px; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content .imgbox::before {
            content: '';
            position: absolute;
            right: 4px;
            bottom: 116px;
            width: 242px;
            height: 245px;
            background: var(--green);
            border-radius: 50%;
        }
        .content .imgbox img {
            position: relative;
            max-width: 240px;
            bottom: 110px;
            z-index: 1;
        }
        .sci {
            position: absolute;
            bottom: 22px;
            left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sci li a {
            display: inline-block;
           
            width: 65px;
            height: 65px;
            background: var(--black2);
            color: var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .sci li a img {
            width: 55%;
        }
        .navigation{
            display: none;
        }
        .navigation.active{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--white);
            flex-direction: column;
        }
        .toggle{
            position: relative;
            width: 100px;
            height: 40px;
            background: url(/Project-2/Images/menu.png);
            filter: invert(1);
            background-size: 40px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 200;
        }
        .toggle.active{
            background: url(/Project-2/Images/close.png);
            filter: invert(1);
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;  
        }
     }
 
