body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type="checkbox"]{
visibility: hidden;
display: none;
}


.check{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background:rgb(4, 4, 83);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in;
    /* box-shadow: inset 0 8px 60px rgb(4,4,83); */
    /* box-shadow: inset 0 8px 8px rgb(4,4,83); */
    
    
}

input[type="checkbox"]:checked~.check{
    background: rgb(255, 254, 254);
    box-shadow: 0 0 0 1200px rgb(4, 4, 83);
   
}

.check::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 7px;
    background: linear-gradient(to bottom, white ,silver);
    /* background: blue; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 1s;
    /* transform: translateX(-50px); */
    
}

input[type="checkbox"]:checked~.check::before{
    transform: translateX(-50px);
}

.check::after{
    content: '';
    position: absolute;
    top: 4px;
    right: 7px;
    background: rgb(4, 4, 83);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 1s;
    transform: translateX(50px);
    
}

input[type="checkbox"]:checked~.check::after{
    transform: translateX(0px);
}